text {
  font-family: Arial, Helvetica, sans-serif;
}
.row-id {
  font-size: 11;
  fill: rgba(82, 82, 165, 1);
}
.active-sample rect {
  fill: rgba(125, 207, 125, 0.40);
}
.active-sample .sample-background {
  fill: rgba(125, 207, 125, 0.34);
}
.active-sample text {
  fill: rgba(12, 12, 54, 1);
}

.waiting-sample rect {
  fill: rgba(192, 187, 204, 1);
}
.waiting-sample .sample-background {
  fill: rgba(192, 187, 204, 0.46);
}
.waiting-sample text {
  fill: rgba(43, 36, 63, 1);
}

.active-key-press {
  stroke: red;
}

#selection {
  z-index: 2;
  position: relative;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#preview-wrapper {
  position:relative;
  display: none;
}
#preview-wrapper .name {
  float: right;
}

.board-button {
  fill: rgb(179, 171, 153);
  stroke: rgb(129, 114, 79);
}

.board-button.pressed {
  fill: rgb(255, 184, 0);
  stroke: rgb(145, 112, 27);
}

.button {
  border: 1px solid rgb(11, 108, 146);
  background-color: rgb(255, 255, 255);
}
.hidden {
  display: none;
}


.rdio {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  width: 200px;
  height: 16px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid rgb(11, 108, 146);
  background: rgba(0, 163, 255, 0.2);
  overflow: hidden;
  color: rgb(11, 108, 146);

}
.rdio.expanded {
  height: 200px;
}
.track-id {
  width: 100%;
}
.search-result-container {
  overflow: scroll;
  height: 14  0px;
}
.search-results {
  font-size: 10px;
}
.search-results .button {
  width: initial;
  display: inline-block;
  border-radius: 6px;
  padding: 0px 5px;
}
.search-results img{
  width: 75px;
  float: left;
}
.search-results .entry {
  clear: both;
}
.rdio .expander::before {
  content: "^";
  font-size: 10px;
  border:1px solid rgb(11, 108, 146);
  background-color: rgb(11, 108, 146);
  color: white;
  float: right;
  line-height: 14px;
  width: 10px;
  text-align: center;
}
.rdio .expander.expanded::before {
  content: "v";
}
.rdio .logo {
  height: 16px;
  line-height: 14px;
  vertical-align: middle;
  float: right;
}

